#app{
  width: fit-content;
  margin: auto;
  padding: 20px;
  border: 5px rgb(18, 201, 165) solid;
  border-radius: 20px;
}

#app ul{
  list-style:none;
  width: 100%;
  text-align: left;
  padding: 0;
}
#app li > span.done{
  text-decoration: line-through;
}

h2{
  text-align: center;
  color: rgb(18, 201, 165);
}

form{
  display: block;
  width: fit-content;
  margin: auto;
}
button{
  background-color: rgb(18, 201, 165);
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}
hr{
  background-color: rgb(18, 201, 165);
  height: 2px;
}

